.scoreboardContainer {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  border: 1px solid #999;
  text-align: center;
}

.scoreboardContainer :first-child {
  border-bottom: 1px solid #999;
  font-weight: 600;
}

.scoreboardContainer :last-child {
  padding: 4rem 0;
}

.winner {
  background-color: #7dfd67;
}
